@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');:root {
    --cor-primaria-1: #D8DBE2;
    --cor-primaria-2: #A9BCD0;
    --cor-primaria-3: #58b0a4;
    --cor-primaria-4: #373F51;
    --cor-bg: #1B1B1E;

    --cor-branco: #fff;
    --cor-preto: #000000;
    --cor-sombra: rgba(0, 0, 0, 0.15);
    --cor-texto: #333;
    --fonte: "Roboto Condensed", monospace;

    --raio: 12px;
    --transition: 0.3s ease;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte);
    background: #BB9457;
    background: linear-gradient(96deg,rgba(187, 148, 87, 1) 0%, rgba(153, 88, 42, 1) 50%, rgba(187, 148, 87, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    background-color: var(--cor-branco);
    padding: clamp(2rem, 5vm, 3rem);
    border-radius: var(--raio);
    box-shadow: 0 8px 24px var(--cor-sombra);
    width: 80%;
    max-width: 400px;
    text-align: center;
    padding-block: 20px;
}

#Logo {
    width: 210px;
    height: auto;
    margin-block: 20px;
    border-radius: var(--raio);
}

.titulo {
    font-size: clamp(1.5rem, 2vh + 1rem, 2rem);
    color: var(--cor-texto);
    margin-block: 20px;
    font-weight: 500;
}